*.std*.out
*.std*.diff
*.vgtest.log
*.vgtest.trs
test-suite.log
iomatch.script.log-*
accuClreq
denorm
hardSoftClreq
hardSoftClreqDouble
libmtest
naninf
test_det
test_libm
clreq
sum
libmtest_float_conv
