bash_completion_post_verrou_dd
bash_completion_verrou_dd_back
bash_completion_verrou_dd_line
bash_completion_verrou_dd_stdout
bash_completion_verrou_dd_sym
bash_completion_verrou_dd_task
bash_completion_verrou_plot_stat
