
# This is a basic workflow to help you get started with Actions

name: gitHubActionCompilOnly

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the $default-branch branch
  push:
     branches: [ $default-branch ]
  pull_request:
#    branches: [ $default-branch ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  buildVerrou:
    strategy:
      fail-fast: false
      matrix:
       version: [VALGRIND_3_25_0]
       os: [ubuntu-latest, ubuntu-22.04, ubuntu-22.04-arm, ubuntu-24.04-arm]


    # The type of runner that the job will run on
    runs-on: ${{ matrix.os}}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: apt
        run: sudo apt-get -qq update; sudo apt-get install -y libc-dbg #python3-numpy python3-matplotlib texlive-latex-extra texlive-fonts-recommended dvipng cm-super

      - name: Download valgrind
        run: export VALGRIND_VERSION=${{ matrix.version }}; make -f travis.mk download-valgrind

      - name: Patch valgrind
        run: make -f travis.mk patch-valgrind || make -f travis.mk patch-error

      - name: Configure patched valgrind
        run: make -f travis.mk configure

      - name: Build patched valgrind
        run: make -f travis.mk build

      - name: Build nosqrt
        run: make -f travis.mk clean && make -f travis.mk reconfigure-nosqrt && make -f travis.mk build

      - name: Build nofma
        run: make -f travis.mk clean && make -f travis.mk reconfigure-nofma && make -f travis.mk build

      - name: Build nochecknaninf
        run: make -f travis.mk clean && make -f travis.mk reconfigure-nochecknaninf && make -f travis.mk build

      - name: Build allhack
        run: make -f travis.mk clean && make -f travis.mk reconfigure-allhack && make -f travis.mk build

      - name: Build nohack
        run: make -f travis.mk clean && make -f travis.mk reconfigure-nohack && make -f travis.mk build

      - name: Build noquadmath
        run: make -f travis.mk clean && make -f travis.mk reconfigure-noquadmath && make -f travis.mk build

      - name: Build NEARNESS4
        run: make -f travis.mk clean && make -f travis.mk reconfigure-NEARNESS4 && make -f travis.mk build
